<h3>
   <small><a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Taxation >>
   <a ui-sref="app.AccViewGstR3b" >View</a> >>
   GST Return3b</small>
</h3>
<div class="container-fluid">
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true,'time-out': 10000}"></toaster-container>
	
   <div class="panel panel-default">
		<div class="panel-heading myHeading" >
			<!-- <a ng-click="generatePdf('excel')" class="pull-right btn btn-sm btn-primary" ng-if="exportPdfHidden"  data-ng-class="app.theme.brand" >Export to Excel</a> -->
			<div class="panel-title">
				GST Return3b
			</div>
		</div>
		<div class="panel-body">
		<tabset>
			<tab heading="3.1 Outward Supplies" active="true">
				<div class="panel-heading bg-default" data-ng-class="app.theme.brand" >
					 <div class="panel-title" id="allPro"> GST R3B 3.1 Outward Supplies of <b>{{displayCompany}}</b> Company Between {{::displayfromDate}} to {{::displaytoDate}} <span class="pull-right"><b>GSTIN:</b> {{companyData.cgst}}</span> </div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th style="text-align:center">Number of Supplies</th>
								<th style="text-align:center">Taxable Value</th>
								<th style="text-align:center">Integrated Tax</th>
								<th style="text-align:center">Central Tax</th>
								<th style="text-align:center">State/UT Tax</th>
								<th style="text-align:center">Cess</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in gstr3bData.outward">
								<td>{{user.particulars}}</td>
								<td style="text-align:right" >{{user.taxable_value | setDecimal: 2}}</td>
								 <td style="text-align:right">{{user.integrated_tax | setDecimal: 2}}</td>
								<td style="text-align:right" >{{user.central_tax | setDecimal: 2}}</td>
								<td style="text-align:right" >{{user.state_tax | setDecimal: 2}}</td>
								<td style="text-align:right" >{{user.cess | setDecimal: 2}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.outward.taxable_value | setDecimal: 2 }}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.outward.integrated_tax | setDecimal: 2 }}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.outward.central_tax | setDecimal: 2 }}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.outward.state_tax | setDecimal: 2 }}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.outward.cess | setDecimal: 2 }}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</tab>
			<tab heading="3.2 Interstate Outward" active="false">
				<div class="panel-heading bg-default" data-ng-class="app.theme.brand" >
					 <div class="panel-title" id="allPro"> GST R3B 3.2 Outward Interstate Supplies of <b>{{displayCompany}}</b> Company Between {{::displayfromDate}} to {{::displaytoDate}} <span class="pull-right"><b>GSTIN:</b> {{companyData.cgst}}</span> </div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th rowspan="2"  style="text-align:center">Place of Supply</th>
								<th colspan="2"  style="text-align:center">Supplies made to Unregistered Persons</th>
								<th colspan="2"  style="text-align:center">Supplies made to Composition Taxable Persons</th>
								<th colspan="2"  style="text-align:center">Supplies made to UIN holders</th>
							</tr>
							<tr>
								<th  style="text-align:center">Total Taxable value</th>
								<th  style="text-align:center">Amount of Integrated Tax</th>
								<th  style="text-align:center">Total Taxable value</th>
								<th  style="text-align:center">Amount of Integrated Tax</th>
								<th  style="text-align:center">Total Taxable value</th>
								<th  style="text-align:center">Amount of Integrated Tax</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in gstr3bData.inter_state_supplies">
								<td  style="text-align:left">{{user.place_of_supply}}</td>
								<td style="text-align:right">{{user.unregistered_taxable | setDecimal: 2}}</td>
								<td style="text-align:right" >{{user.unregistered_tax | setDecimal: 2}}</td>
								<td style="text-align:right" >{{user.composition_taxable | setDecimal: 2}}</td>
								<td style="text-align:right" >{{user.composition_tax | setDecimal: 2}}</td>
								<td style="text-align:right" >{{user.uin_taxable | setDecimal: 2}}</td>
								<td style="text-align:right" >{{user.uin_tax | setDecimal: 2}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.inter_state_supplies.unregistered_taxable | setDecimal: 2 }}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.inter_state_supplies.unregistered_tax | setDecimal: 2 }}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.inter_state_supplies.composition_taxable | setDecimal: 2 }}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.inter_state_supplies.composition_tax | setDecimal: 2 }}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.inter_state_supplies.uin_taxable | setDecimal: 2 }}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.inter_state_supplies.uin_tax | setDecimal: 2 }}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</tab>
			<tab heading="4 Eligible ITC" active="false">
				<div class="panel-heading bg-default" data-ng-class="app.theme.brand" >
					 <div class="panel-title" id="allPro"> GST R3B 4 Eligible ITC of <b>{{displayCompany}}</b> Company Between {{::displayfromDate}} to {{::displaytoDate}} <span class="pull-right"><b>GSTIN:</b> {{companyData.cgst}}</span> </div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th style="text-align:center">Details</th>
								<th style="text-align:center">Itegrated Tax</th>
								<th style="text-align:center">Central Tax</th>
								<th style="text-align:center">State Tax</th>
								<th style="text-align:center">Cess</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>{{gstr3bData.itc[0].title}}</th>
								<td colspan="4"></td>
							</tr>
							<tr ng-repeat="item in gstr3bData.itc[0].details">
								<td>{{item.particulars}}</td>
								<td style="text-align:right">{{item.integrated_tax | setDecimal: 2}}</td>
								<td style="text-align:right">{{item.central_tax | setDecimal: 2}}</td>
								<td style="text-align:right">{{item.state_tax | setDecimal: 2}}</td>
								<td style="text-align:right">{{item.cess | setDecimal: 2}}</td>
							</tr>
							<tr>
								<th>{{gstr3bData.itc[1].title}}</th>
								<td colspan="4"></td>
							</tr>
							<tr ng-repeat="item in gstr3bData.itc[1].details">
								<td>{{item.particulars}}</td>
								<td style="text-align:right">{{item.integrated_tax | setDecimal: 2}}</td>
								<td style="text-align:right">{{item.central_tax | setDecimal: 2}}</td>
								<td style="text-align:right">{{item.state_tax | setDecimal: 2}}</td>
								<td style="text-align:right">{{item.cess | setDecimal: 2}}</td>
							</tr>

							<tr>
								<th>{{gstr3bData.itc[2].title}}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bData.itc[2].details[0].integrated_tax | setDecimal: 2}}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bData.itc[2].details[0].central_tax | setDecimal: 2}}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bData.itc[2].details[0].state_tax | setDecimal: 2}}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bData.itc[2].details[0].cess | setDecimal: 2}}</th>
							</tr>
							<tr>
								<th>{{gstr3bData.itc[3].title}}</th>
								<td colspan="4"></td>
							</tr>
							<tr ng-repeat="item in gstr3bData.itc[3].details">
								<td>{{item.particulars}}</td>
								<td style="text-align:right">{{item.integrated_tax | setDecimal: 2}}</td>
								<td style="text-align:right">{{item.central_tax | setDecimal: 2}}</td>
								<td style="text-align:right">{{item.state_tax | setDecimal: 2}}</td>
								<td style="text-align:right">{{item.cess | setDecimal: 2}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</tab>
			<tab heading="5 Exempt, nill rated Inward Supplies" active="false">
				<div class="panel-heading bg-default" data-ng-class="app.theme.brand" >
					 <div class="panel-title" id="allPro"> GST R3B 5 Exempt, nill rated and non-GST Inward Supplies of <b>{{displayCompany}}</b> Company Between {{::displayfromDate}} to {{::displaytoDate}} <span class="pull-right"><b>GSTIN:</b> {{companyData.cgst}}</span> </div>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Nature of Supplies</th>
								<th>Inter-State Supplies</th>
								<th>Intra-State Supplies</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in gstr3bData.exempt_inward">
								<td>{{user.particulars}}</td>
								<td style="text-align:right" >{{user.inter_state_supplies | setDecimal: 2}}</td>
								<td style="text-align:right">{{user.intra_state_supplies | setDecimal: 2}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th>Total</th>
								<th style="text-align:right" ><i class="fa fa-inr"></i> {{gstr3bTotal.exempt_inward.inter_state_supplies | setDecimal: 2}}</th>
								<th style="text-align:right"><i class="fa fa-inr"></i> {{gstr3bTotal.exempt_inward.intra_state_supplies | setDecimal: 2}}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</tab>


        </tabset>
		</div>
   </div>
</div>