<h3>
   <small><a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Taxation >>
   <a ui-sref="app.AccViewGstR2" >View</a> >>
   GST Return2</small>
</h3>
<div class="container-fluid">
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true,'time-out': 10000}"></toaster-container>
	
   <div class="panel panel-default">
		<div class="panel-heading myHeading" >
			<!-- <a ng-click="generatePdf('gst-return-excel')" class="pull-right btn btn-sm btn-primary" ng-if="exportPdfHidden"  data-ng-class="app.theme.brand" >Export to Excel</a> -->
			<div class="panel-title">
				GST Return2
			</div>
		</div>
		<div class="panel-body">
		<tabset>
			<tab ng-repeat="(heading,data) in gstr2Data" heading="{{heading}}" ng-click="changeActiveTab(heading)">
			</tab>
        </tabset>
        <div class="panel-heading bg-default" data-ng-class="app.theme.brand">
			<div class="panel-title" id="allPro"> {{selectedTab}} of <b>{{displayCompany}}</b> Company Between {{::displayfromDate}} to {{::displaytoDate}} </div>
		</div>
		<div class="table-responsive">

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th data-ng-repeat="item in tableHeaders" style="text-transform: capitalize;text-align: center;">{{ fixHeading(item) }}</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="user in gstr2Data[selectedTab] track by (user.invoice_no+$index)">
						<td data-ng-repeat="(tableHead, value) in user" data-title="'{{fixHeading(tableHead)}}'" sortable="'{{fixHeading(tableHead)}}'" style="{{fixValueCss(tableHead)}}">{{fixValue(value, tableHead)}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th data-ng-repeat="(key, item) in gstr2TotalRow"  style="{{fixValueCss(key)}}">{{fixValue(item, key)}}</th>
					</tr>
				</tfoot>
			</table>
		</div>
		</div>
   </div>
</div>