<div class="container-fluid">
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true,'animation-class': 'bounceIn'}"></toaster-container>
	<form  action="#" name="formDebit" class="form-validate form-horizontal" autocomplete="off" novalidate>
		<div class="panel panel-default">
			<h4 class="panel-heading col-sm-12" style="padding:5px 1px;" >	
				<div style="padding: 0 5px 0 5px;"  ng-class="col-sm-5" >

					<label  class="control-label" style="font-size: 19px !important;float: left;text-align: left;padding-top: 3px;padding-left: 0px;padding-right: 0px;">
						<span>Debit Note</span>
					</label>
				</div>
				<div style="padding: 0 5px 0 5px;"  ng-class="col-sm-2" >
					<label  class="control-label" style="font-size:18px !important;text-align: right;padding-top: 3px;padding-left: 1px;padding-right: 0px;margin-left:21%;">
						<button type="button" class="btn btn-default btn-md" data-ng-class="app.theme.brand"  >{{displayDefaultCompanyName}} ({{getCurrentFinancialYear()}})</button>
					</label>
				</div>
			</h4>
			<div class="panel-body">
				<div class="col-sm-3">
					<div class="input-group m-b">
						<input  type="text" ng-model="debitNote.searchInvoiceNumber" placeholder="Search" class="form-control input-sm" tooltip="Search By Invoice#/Contact#/Name/Email" tooltip-trigger="focus" tooltip-placement="top" ng-keyup="$event.keyCode == 13 ? goInvoiceNumber() : null" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-sm" data-ng-class="app.theme.brand"  ng-click="goInvoiceNumber()" ><em class="fa fa-search" ></em></button>
						</span>
					</div>
				</div>
				<div class="col-sm-4">
					<label  class="col-sm-3 control-label"> *Company </label>
					<div class="col-sm-9 contentOfForm">
						<select chosen="" data-ng-model="debitNote.companyDropDown" name="companyDropDown" data-ng-options="s.companyName for s in form.companyDrop track by s.companyId" ng-change="changeCompany(debitNote.companyDropDown)" ng-disabled="form.disableCompany" class="form-control input-sm chosen-select" ng-required="true"></select>
					</div>
				</div>
				<div class="col-sm-3">
					<label  class="col-sm-2 control-label"> *Date </label>
					<div class="col-sm-8">
						<div class="input-group hackyhack">
							<input type="text" datepicker-popup="{{form.format}}"  data-ng-model="form.dt1" is-open="form.openedStart" min-date="false" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close" class="form-control input-sm" id="entryDate" ng-required="true" readonly/>
							<span class="input-group-btn">
								<button type="button" data-ng-click="form.openStart($event)" id="datepickerButton"  class="btn btn-sm" data-ng-class="app.theme.brand">
									<em class="fa fa-calendar"></em>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group" >
					  <label for="input-id-1" class="col-sm-1 control-label">No#</label>
					  <div class="col-sm-4">
						 <p class="form-control-static">{{debitNote.editData.billNumber}}</p>
					  </div>
				   </div>
				</fieldset>
			</div>
		</div>
		<div class="panel panel-default">
			<table  class="table table-bordered table-striped tableTopCss" >
				<thead>
					<tr>
						<th style="width:5%;">#</th>
						<th style="width: 60%;" >
							<span>Particulars</span>
						</th>
						<th style="width: 25%;">
							<span>Amount</span>
						</th>
						<th style="width: 10%;">
							<span>Action</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in form.AccBillTable track by ($index+item.ledgerId+item.ledgerName+item.amount)">
						<td>{{$index+1}}</td>
						<td>
							<input typeahead="s.ledgerName for s in form.vendorNameDrop | filter:$viewValue | orderBy:'ledgerName' | limitTo:20" ng-model="item.ledgerName" typeahead-on-select="setVendorData($item,$index)" type="text" class="form-control" placeholder="*Enter Name" typeahead-editable="false" ng-disabled="form.loadData" ng-required="true" />
						</td>
						<td>
							<input placeholder="(&#x20b9;)Amount" type="text" ng-model="item.amount"  class="form-control input-sm" style="width:100%;padding-left: 6px;padding-right: 6px;"  ng-required="true" ng-minlength="1" ng-pattern="/^[0-9 .]*$/" ng-change="changeAmount();" only-number />
						</td>
						<td>
							<center>
								<a href="javascript:void(0)" ng-click="addRow($index)"> 
									<i  class="fa fa-plus myCursorPointer" style="font-size:20px;"></i>
								</a>
								&nbsp;
								<a href="javascript:void(0)" class="text-danger"  ng-click="removeRow($index)" ng-if="$index!=0">
									<i  class="fa fa-times myCursorPointer" style="font-size:20px;" title="Delete"> </i>
								</a>
							</center>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td class="text-right" colspan="2" style="padding: 10px;">
							<strong>Total</strong>
						</td>
						<td class="text-right" style="padding: 10px;">{{form.totalDebit}}</td>
						<td></td>
					</tr>
				</tfoot>
			</table>
			<div class="panel-body">
				<div class="col-sm-12" >
					<div class="col-sm-6">
						<fieldset class="my-fieldset-paddingBottom my-fieldset-marginBottom">
							<div class="form-group">
								<label  class="col-sm-3 control-label">Remark</label>
								<div class="col-sm-9">
									<textarea rows="1" ng-model="debitNote.remark" name="address"  placeholder="Remark" class="form-control input-sm ng-pristine ng-valid ng-touched" style="height:38px;" ></textarea>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="col-sm-6">

					<button type="button" class="mr-sm mb-sm btn btn-sm pull-left" data-ng-class="app.theme.brand"  ng-click="pop()" ng-disabled="formDebit.$invalid || form.totalDebit > debitNote.editData.total"  > 
						<span>Save</span>
					</button>
					<button type="button" class="mr-sm mb-sm btn btn-sm pull-left" data-ng-class="app.theme.brand"   ng-click="cancel()">New</button>
				</div>
			</div>
		</div>
	</form>
</div>