<style>
.imageAncher{position:relative;vertical-align:middle;display:inline-block}
.myCrossDesign{position:absolute;top:0;right:0;height:20px;width:20px;color:#eb615f;font-size:20px}.myCrossDesign:hover{color:red}.documentRight{display:block;position:absolute;top:10%;right:60%;font-size:40px;color:#88bf57}.documentRight:hover{color:green}.documentCross{display:block;position:absolute;font-size:40px;color:#eb615f;top:10%;right:20%}.documentCross:hover{color:red}
</style>
<div class="modal-header" data-ng-class="app.theme.brand">
	<button type="button" data-dismiss="modal" data-ng-click="cancel()" aria-hidden="true" class="close text-md"><i class="fa fa-times" style="color:white"></i></button>  
	  <h4 id="myModalLabel" class="modal-title">IMEI/Serial Wise Stock Summary</h4>
</div>
	<div class="modal-body my-model-body">
		<center>
			<table  class="table table-bordered table-striped tableTopCss" >
				<thead>
					<tr>
						<th class="header my-table-paddingTopBottom" width="2%">#</th>
						<th class="header my-table-paddingTopBottom">IMEI / Serial</th>
						<th class="header my-table-paddingTopBottom">Barcode No</th>
						<th class="header my-table-paddingTopBottom" style="width: 10%">Qty</th>
					</tr>
				</thead>
				<tbody>
					<tr class="myTable" data-ng-class="app.tableAnimation" ng-repeat="item in ProductImeiArray track by $index">
						<td>
							<strong ng-bind="$index+1"></strong>
						</td>
						<td ng-bind="item.imeiNo">
						</td>
						<td ng-bind="item.barcodeNo">
						</td>
						<td class="text-right">
							<span ng-bind="parsedStock(item.stock)"></span>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td><strong>Total Qty</strong></td>
						<td></td>
						<td class="text-right">{{totalQty()}}</td>
					</tr>
				</tfoot>
			</table>
			<button type="button" class="mr mb-sm btn btn-danger pull-right" data-ng-click="cancel()">Close</button>
		</center>
	</div>
	
<script type="text/ng-template" id="errorRequired">
	<span class="text-danger" ng-message="required">{{errorMessage.require}}</span>
</script>

<script type="text/ng-template" id="errorLonglength">
	<span class="text-danger" ng-message="maxlength">{{errorMessage.longLength}}</span>
</script>

<script type="text/ng-template" id="errorPatternAlpha">
	<span class="text-danger" ng-message="pattern">{{errorMessage.Alphabets}}</span>
</script>